.album {
  width: 200px;
  padding: 6px;
  line-height: normal;

  .album-cover {
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    height: 188px;
    width: 188px;
    opacity: 1;
    animation: fadeIn 0.3s ease;

    @keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
  }
  .album-title {
    color: rgba(0,0,0,0.87);
    font-weight: 500;
    margin-top: 3px;
    margin-left: 1px;
    margin-bottom: 0px;
    font-size: 16px;
  }
  .album-artist {
    font-weight: 300;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 0px;
    color: #757575;
    font-size: 15px;
  }
}

@media screen and (max-width: 424px) {
  .album {
    width: 174px;
    .album-cover {
      height: 162px;
      width: 162px;
    }
  }
}


.album-panel-container {
  display: flex;
  justify-content: center;
  .album-panel {
    width: 600px;
    .album-top-columns {
      margin: 15px 15px 3px 15px;
      .album-cover {
        border-radius: 5px;
        box-shadow: 2px 2px 5px grey;
      }
      .right-column {
        margin: 5px 0px 0px 0px;
        font-weight: 500;
        .album-name {
          line-height: 1;
          font-size: 25px;
          margin-bottom: 6px;
        }
        .artist-name {
          font-size: 19px;
          a {
            &:hover {
              color: #3273dc;
            }
          }
        }
        .release-year {
          padding-left: 2px;
          font-size: 14px;
        }
      }
    }
    .songs-panel,
    .tags-panel,
    .connections-panel,
    .lists-panel {
      display: none;
      &.is-active {
        display: block;
      }
    }
    .songs-panel {
      .table {
        width: 100%;
        font-size: 14px;
        td {
          padding: 8px;
          &:first-child {
            text-align: right;
            width: 30px;
          }
        }
      }
    }
    .tags-panel {
      .album-tags {
        margin: 7px 0px 2px 0px;
        .tag {
          cursor: pointer;
        }
      }
    }
    .connections-panel {
      .album-connections {
        margin-top: 3px;
      }
    }
    .lists-panel {
      .album-lists {
        margin: 7px 0px 2px 0px;
      }
    }
  }
}
