.all-tags {
  padding: 12px;
  .albums-container {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.edit-tags-container {
  padding: 12px;
  .tags-container {
    padding-top: 12px;
  }
}
